<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cineCritica</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>

<ul>
    <li><a href="#" style="text-decoration:underline;">Pesquisar Filmes</a></li>
    <li><a th:href="@{/movies/meus-filmes}">Meus Filmes</a></li>
</ul>
<div id="main">
    <h1>CineCritica</h1>
    <h3>Digite o nome do Filme que deseja adicionar.</h3>
    <form method="get" th:action="@{/movies}">
        <input type="text" name="title" placeholder="   Digite o nome do filme" required>
        <button type="submit">Buscar</button>
    </form>
</div>
    <div id="results">
        <h2>Resultados:</h2>
        <div th:each="movie : ${movies}">
            <div class="movie-card">
                <img  class="movie-poster" th:src="'https://image.tmdb.org/t/p/w500' + ${movie.posterPath}">
                <div class="movie-info">
                    <h2 th:text="${movie.title}">Titulo</h2>
                    <p th:text="${movie.overview}">Sinopse</p>
                    <p style="display:flex;align-items: center;"><img src="/images/rate-icon.svg" style="width:36px;">&ensp;Média do Público:&emsp;<span th:text="${movie.voteAverage}"> 0</span></p>
                    <button type="button"  class="save-button" th:onclick="'saveMovie(' + ${movie.idMovieApi} + ')'">Salvar</button>
                </div>

            </div>
        </div>
    </div>

<script>
    function saveMovie(idExterno) {
        fetch(`/movies/api/save/${idExterno}`, { method: 'GET' })
            .then(response => response.text())
    .then(message => {
        alert(message);
    })
    .catch(error => {
        console.error("Erro ao salvar o filme:", error);
    });
    }
</script>
</body>
</html>
